<ion-header>
  <ion-toolbar>
    <ion-title>Product List</ion-title>
    <ion-buttons slot="end">
      <ion-button class="buttons" [routerLink]="['/add']"> ADD </ion-button>
      <ion-button class="buttons" (click)="onMassDelete()">
        MASS DELETE</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-row>
      <ion-col *ngFor="let product of products" class="productShow" size="2">
        {{ product.title }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="footerText">Scandiweb test assignment</ion-title>
  </ion-toolbar>
</ion-footer>
